body {
    background-color: #49A140;
}
h1 {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 400px;
    position: relative;
    z-index: 1;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
nav a {
    position: relative;
    display: flex;
    background: #3dd6cf;
    color: #2d9792;
    font-family: "Kode Mono", monospace;
    border: 5px solid #39c5be;
    z-index: 1;
    text-decoration: none;
    padding: 30px 30px;
    margin: 35px 610px;
    font-size: 20px;
    justify-content: center;
}