body {
    background-color: #49A140;
}
h1 {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    margin-top: 400px;
    position: relative;
    z-index: 1;
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
nav a {
   background: #3dd6cf;
    color: #000000;
    font-family: "Kode Mono", monospace;
    border: 5px solid #39c5be;
    text-decoration: none;
    padding: 15px 25px; 
    font-size: 20px;
    font-weight: 700;
}
nav {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
} 
h1 {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}
p {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}
a {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    text-align: center;
    margin-top: 10px;
    margin-left: 50px;
    position: relative;
    z-index: 1;
}